PRE { font-family: "courier new", courier; font-size: .75em;
      margin-left: 2%; margin-right: 2%;
      padding-top: .5em; padding-bottom: .5em; padding-right: .5em; padding-left: .5em;
      border-color: black; border-width: 2; border-style: solid }
PRE.test-code { background-color: #cccccc }
PRE.servlet-code { background-color: #00eeee }
OL { margin-top: 0 }
P.story-name { margin-left: 3em; margin-bottom: 0; font-weight: bold }
P.story-contents { margin-left: 3em; margin-top: 0 }
P.goals { font-family: helvetica, ariel, sans-serif; font-size: x-small;
          background-color: yellow; border-color: black; border-style: solid;
          border-top-width: 2px; border-bottom-width: 2px; border-left-width: 0px; border-right-width: 0px }
UL { margin-top: 0 }
